header{
    background-color: #FCF8FF;
    position: relative;
    width: 100%;
}

header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background: #24053e;
    border-radius: 0 0 100% 100% / 0 0 10% 10%
}

header #content {
    position: relative;
    z-index: 1;
}

.logo_and_link_div{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em 0 1em;  
}

.logo{
    width: 100px;
    scroll-behavior: smooth;
}

.underlined_link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-family: 'Manrope', sans-serif;
    border-bottom: 2px solid #44FFA1;   
    scroll-behavior: smooth;
}

.underlined_link:hover{
    color: #44FFA1;
    transition: .3s;
}

.header_bigger_spiral_div, .header_smaller_spiral_div{
    display: none
}

.main_title_and_green_link_and_phone_image_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;   
    margin-top: 3.5rem;
}

.main_title {
    font-size: 2.9rem;
    color: white;
    font-family: 'Fraunces', serif;
    font-weight: 400;
    max-width: 343px;
}

.main_title span {
    border-bottom: 2px solid #44FFA1;
}

.green_link{
    text-decoration: none;
    color: #24053e;
    background-color: #44FFA1;
    border: 2px solid #44FFA1;
    padding: 1rem 1.5rem;
    font-weight: bold;
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}

.green_link:hover{
    background-color: #24053e;
    color:#44FFA1;
    transition: .3s;
}

.phone{
    width: 320px;
    height: 184px;
    margin-top: 3rem;
}

@media(min-width:768px) {
    
    .main_title {
        font-size: 3.8rem;
        max-width: 450px       
    }

    .header_bigger_spiral_div{
        position: absolute;
        display: block;
        width: 110px;
        height: 300px;  
        top: 110px;
        left: 0;
    }

    .bigger_spiral_img{
        width: 120px;
        height: 300px;
        object-fit:none;
        object-position:right;        
    }

    .header_smaller_spiral_div{
        position: absolute;
        display: block;     
        width: 75px;
        height: 300px;
        top: 260px;
        right: 0;    
    }

    .smaller_spiral_img{
        width: 75px;
        height: 230px;
        object-fit: none;
        object-position: left;
    }

    .phone{
        width: 514px;
        height: 296px;
    }
}
@media(min-width: 1440px){
    
    .main_title {
        font-size: 4.5rem;
        max-width: 530px      
    }

    .bigger_spiral_img{
        width: 200px;
    }

    .header_smaller_spiral_div{    
        width: 120px;
        height: 320px;  
    }

    .smaller_spiral_img{
        width: 120px;
        height: 330px;
    }

    .phone{
        width: 767px;
        height: 441px;
    }
}

