#benefits-section{
    padding: 4rem 0;
    position: relative;
    width: 100%;
}

#benefits-section:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 100% 100% / 0 0 10% 10%;
    background: #FCF8FF;
}

#benefits-section .benefits-div{
    position: relative;
    z-index: 1;
}

.benefits-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0 1rem;
}

.benefit_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border_number{
    border: 1px solid #24053e;
    border-radius: 74%;
    padding: .7em 1.05em;
    font-family: 'Fraunces', serif;
    color:#24053e;
}

.benefit_info_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.benefit_title{
    font-family: 'Fraunces', serif;
    color:#24053e;
    font-size: 1.7rem;
    margin: 0;
}

.benefit_description{
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    color: #584D62;
    line-height: 25px;
    width: 350px;
    margin: 0;
}

#founder-section{
    margin: 6rem 1rem 0 1rem;  
    display: flex;  
    justify-content: center;
}

.founder_div{
    position: relative;
    width: 343px;
    height: 603px;
    text-align: center;
}

.founder_info_div{
    position: absolute;
    bottom: 0;  
    background-color: #24053e;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.founder_image{
    width: 281px;  
    height: 281px;
}

.founder_title{
    color: white;
    font-family: 'Fraunces', serif;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
}

.founder_description{
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;   
    line-height: 30px;
    text-align: center;
}

.founder_spiral_img{
    display: none;
}

@media (min-width:768px) {

    .benefit_div{
        flex-direction: row;
        gap: 2rem;       
    }

    .benefit_info_div{
        align-items: start;
        text-align: start;
    }

    .benefit_description{
        width: 490px;
    }
    
    .founder_div{
        width: 689px;
        height: 526px;
    }
    
    .founder_info_div{      
        width: 514px;
        height: 375px;   
        right: 0; 
        align-items:start;
        padding: 0;
        gap: 1rem;       
    }

    .founder_image{
        position: absolute;
        left: 0;
        top: 0;
    }
   
    .founder_title{
        color: white;
        font-family: 'Fraunces', serif;
        font-size: 2.4rem;
        margin: 0;
        text-align: start;
        margin: 0 3rem;
    }
    
    .founder_description{
        color: white;
        font-family: 'Manrope', sans-serif;
        font-size: 1rem;   
        line-height: 30px;  
        text-align: start;    
        margin: 0 3rem;
    }

    .founder_info_div .green_link{
        margin: 0 3rem;
    }
    
    .founder_spiral_div{
        position: relative;
        top: 160px;
    }

    .founder_spiral_img{
        position: absolute;
        display: block;
        width: 233px;
        height: 207px;
        left: 320px;
        bottom: 0px;
    }
    
}
