.border_number{
    border: 1px solid #24053e;
    border-radius: 100%;
    font-family: 'Fraunces', serif;
    color:#24053e;
}

.benefits{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.founder_image{
position: relative;
}

.founder{
    z-index: 1;
    background-color: #24053e;
    position: relative;
    bottom: 65px; 
}

.benefit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}